@{
    ViewData["Title"] = "TinawNews";
}

<div class="">
    <div>
        <h2 class="">Seu portal de noticias diárias!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sodales mauris convallis mi ornare placerat. Nulla eu leo justo. Phasellus urna erat, accumsan sed fermentum eget, vestibulum nec urna. Vivamus congue luctus enim, et volutpat nulla accumsan vel. Suspendisse in gravida elit. Proin bibendum fringilla velit a tempor. Vivamus tincidunt massa fringilla dictum dignissim.</p>
    </div>
    <div>
        <h3>Principais notícias:</h3>
    </div>
</div>
